<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>HotComp</title>
</head>
<body>
    <form method="post" th:object="${attendee}">
        <div>
            <label th:for="attendeeFirst">First Name</label>
            <input type="text" th:field="*{firstName}" placeholder="Input attendee name"/>
        </div>
        <div>
            <label th:for="attendeeLast">Last Name</label>
            <input type="text" th:field="*{lastName}" placeholder="Input attendee name"/>
        </div>
        <div>
            <label th:for="checkInDate">Check-in Date</label>
            <input type="date" th:field="*{checkInDate}" placeholder="Input attendee name"/>
        </div>
        <div>
            <label th:for="checkOutDate">Check-out Date</label>
            <input type="date" th:field="*{checkOutDate}" placeholder="Input attendee name"/>
        </div>
        <input type="submit" value="Add Attendee">
    </form>
</body>
</html>